Repository benjidotsh/SlackGPT: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed CI
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

Changed DOKKU_GIT_REMOTE_URL to an environment variable
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

Added LOG_LEVEL environment variable
  .env.example
  .github/workflows/ci.yml
  src/config.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Moved scopes to the Slack service
  src/index.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Enabled query debugging on Prisma
  src/services/prisma.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added a global error handler
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Downgraded to Node 16
  .nvmrc
  package.json
Due: prettier --ignore-path .gitignore --cache --write

Upgraded to Node 18
  .nvmrc
Due: none

Upgraded to Node 18
  package.json
Due: prettier --ignore-path .gitignore --cache --write

Downgraded to Node 16 again and added a fetch polyfill
  .nvmrc
  package-lock.json
  package.json
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added node-self
  package-lock.json
  package.json
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Replaced unfetch with node-fetch
  package-lock.json
  package.json
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Replaced node-fetch with isomorphic-fetch
  package-lock.json
  package.json
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added socket mode for development and replaced dotenv-safe with dotenv
  .env.example
  package.json
  src/config.ts
  src/index.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Improved logging
  package-lock.json
  package.json
  src/config.ts
  src/services/prisma.service.ts
  src/services/slack/slack.service.ts
  src/utils/index.ts
  src/utils/log.util.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added Sentry
  .env.example
  package-lock.json
  package.json
  src/config.ts
  src/services/index.ts
  src/services/sentry.service.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed imports
  src/services/prisma.service.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Updated README
  README.md
Due: prettier --ignore-path .gitignore --cache --write

Fixed ChatGPT context
  .env.example
  README.md
  docker-compose.dev.yml
  package-lock.json
  package.json
  src/config.ts
  src/index.ts
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed Prisma log levels
  src/utils/log.util.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added support for direct messages
  src/handlers/index.ts
  src/handlers/message_im.handler.ts
  src/handlers/shared.handler.ts
  src/middleware/configuration.middleware.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Improved error handling and added welcome blocks to app home
  src/blocks/configuration.blocks.ts
  src/blocks/error.blocks.ts
  src/blocks/index.ts
  src/blocks/welcome.blocks.ts
  src/handlers/app_home_opened.handler.ts
  src/handlers/shared.handler.ts
  src/middleware/configuration.middleware.ts
  src/services/slack/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Updated welcome blocks
  src/blocks/welcome.blocks.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed reinstallation, added chat:write.public scope and removed getting started from app home
  src/blocks/welcome.blocks.ts
  src/services/slack/slack.service.ts
  src/services/slack/slack.store.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added scope updates
  .eslintrc.json
  prisma/migrations/20230329204600_workspace_scope_version/migration.sql
  prisma/schema.prisma
  src/blocks/index.ts
  src/blocks/scope-update.blocks.ts
  src/handlers/app_home_opened.handler.ts
  src/services/slack/slack.service.ts
  src/services/slack/slack.store.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Replaced scope version with scope matching
  package-lock.json
  package.json
  prisma/migrations/20230330201827_workspace_scope_version_removal/migration.sql
  prisma/schema.prisma
  src/handlers/app_home_opened.handler.ts
  src/services/prisma.service.ts
  src/services/slack/index.ts
  src/services/slack/slack.service.ts
  src/services/slack/slack.store.ts
  src/utils/index.ts
  src/utils/slack.util.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Updated scope update URL
  src/blocks/scope-update.blocks.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added an installation link to the README
  README.md
Due: prettier --ignore-path .gitignore --cache --write

Improved README formatting
  README.md
Due: prettier --ignore-path .gitignore --cache --write

ci: add workflow_dispatch event
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

ci: add .buildpacks file
  .buildpacks
Due: none

ci: fix .buildpacks file
  .buildpacks
Due: none

ci: fix add nixpacks.toml file
  .buildpacks
  nixpacks.toml
Due: none

Path conditions:
  eslint --ignore-path .gitignore --cache --fix: any of: *.ts
  prettier --ignore-path .gitignore --cache --write: any of: *.{ts,md,json,yml}
