Repository benjidotsh/SlackGPT: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

.lintstagedrc.json:

{
  "*.ts": "eslint --ignore-path .gitignore --cache --fix",
  "*.{ts,md,json,yml}": "prettier --ignore-path .gitignore --cache --write"
}

Added support for ESM
  nodemon.json
  package-lock.json
  package.json
  src/index.ts
  src/services/chatgpt.service.ts
  tsconfig.json
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Addedd --passWithNoTests to npm run test
  package.json
Due: prettier --ignore-path .gitignore --cache --write

Improved Slack message parsing
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added workspace configuration
  .env.example
  README.md
  docker-compose.dev.yml
  package-lock.json
  package.json
  prisma/migrations/20230304150422_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/middleware/configuration.middleware.ts
  src/services/prisma.service.ts
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added workspace configuration to home
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added admin checks
  src/blocks/configuration.json
  src/blocks/index.ts
  src/services/slack.service.ts
  tsconfig.json
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added value checks for set_openai_api_key
  src/blocks/configuration.json
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added encryption to API keys
  .env.example
  package-lock.json
  package.json
  src/config.ts
  src/services/crypto.service.ts
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Refactored handlers
  src/handlers/app_home_opened.handler.ts
  src/handlers/app_mention.handler.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/index.ts
  src/handlers/set_openai_api_key.handler.ts
  src/middleware/index.ts
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fully switched to workspace-specific API keys
  .env.example
  src/config.ts
  src/handlers/app_mention.handler.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/set_openai_api_key.handler.ts
  src/middleware/configuration.middleware.ts
  src/services/chatgpt.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Improved configuration blocks
  src/blocks/configuration.blocks.ts
  src/blocks/configuration.json
  src/blocks/index.ts
  src/handlers/app_home_opened.handler.ts
  src/services/crypto.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Changed copy of configuration middleware
  src/middleware/configuration.middleware.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added Serverless
  .env.example
  .eslintrc.json
  .gitignore
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  package-lock.json
  package.json
  prisma/migrations/20230304150422_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  serverless.yml
  src/config.ts
  src/handlers/app_home_opened.handler.ts
  src/handlers/app_mention.handler.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/set_openai_api_key.handler.ts
  src/index.ts
  src/middleware/configuration.middleware.ts
  src/services/dynamodb/dynamodb.interface.ts
  src/services/dynamodb/dynamodb.service.ts
  src/services/dynamodb/index.ts
  src/services/prisma.service.ts
  src/services/slack.service.ts
  src/utils/index.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Moved the installation of serverless-dynamodb-local to documentation and added deployment to CI
  .env.example
  .github/workflows/ci.yml
  README.md
  package.json
  src/config.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/set_openai_api_key.handler.ts
  src/services/dynamodb/dynamodb.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added environment variables to Serverless
  .github/workflows/ci.yml
  serverless.yml
Due: prettier --ignore-path .gitignore --cache --write

Removed AWS environment variables from Serverless
  serverless.yml
Due: prettier --ignore-path .gitignore --cache --write

Fixed NODE_ENV
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

Fixed DynamoDB
  serverless.yml
Due: prettier --ignore-path .gitignore --cache --write

Fixed DynamoDB
  src/services/dynamodb/dynamodb.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Cleaned up environment variables
  .env.example
  serverless.yml
  src/config.ts
  src/services/dynamodb/dynamodb.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Updated CI
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

Updated CI
  serverless.yml
Due: prettier --ignore-path .gitignore --cache --write

Changed stage to NODE_ENV
  package.json
  serverless.yml
  src/services/dynamodb/dynamodb.interface.ts
  src/services/dynamodb/dynamodb.service.ts
  src/utils/dynamodb.ts
  src/utils/index.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Implemented OAuth
  .env.example
  .eslintrc.json
  .github/workflows/ci.yml
  package-lock.json
  package.json
  serverless.yml
  src/config.ts
  src/handlers/app_home_opened.handler.ts
  src/handlers/app_mention.handler.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/set_openai_api_key.handler.ts
  src/index.ts
  src/middleware/configuration.middleware.ts
  src/services/dynamodb/dynamodb.interface.ts
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Set removeUndefinedValues to true in DynamoDB
  src/services/dynamodb/dynamodb.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Readded the app_uninstalled handler and switched to provisioned capacity for DynamoDB
  serverless.yml
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed default CRYPTO_KEY and tried to fix no response
  .env.example
  src/config.ts
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Enabled debug logging
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Enabled more debug logging
  src/services/slack.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Stripped out Serverless again
  .env.example
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  package-lock.json
  package.json
  serverless.yml
  src/config.ts
  src/handlers/app_mention.handler.ts
  src/index.ts
  src/services/dynamodb/dynamodb.interface.ts
  src/services/dynamodb/dynamodb.service.ts
  src/services/dynamodb/index.ts
  src/services/slack.service.ts
  src/services/slack/index.ts
  src/services/slack/slack.service.ts
  src/services/slack/slack.store.ts
  src/utils/dynamodb.ts
  src/utils/index.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Readded Prisma
  .env.example
  package-lock.json
  package.json
  prisma/migrations/20230315213834_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/blocks/index.ts
  src/config.ts
  src/handlers/app_home_opened.handler.ts
  src/handlers/app_mention.handler.ts
  src/handlers/app_uninstalled.handler.ts
  src/handlers/set_openai_api_key.handler.ts
  src/index.ts
  src/middleware/configuration.middleware.ts
  src/middleware/index.ts
  src/services/index.ts
  src/services/prisma.service.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added deployment
  .github/workflows/ci.yml
Due: prettier --ignore-path .gitignore --cache --write

Fixed store
  src/services/slack/slack.store.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Fixed imports
  src/handlers/app_home_opened.handler.ts
  src/handlers/app_uninstalled.handler.ts
Due: eslint --ignore-path .gitignore --cache --fix, prettier --ignore-path .gitignore --cache --write

Added a Procfile and .buildpacks file
  .buildpacks
  Procfile
Due: none

Removed the .buildpacks file
  .buildpacks
Due: none
